<h1>View User</h1>
<div>
    <strong>ID:</strong> {{user._id}}
</div>
<div>
    <strong>Name:</strong> {{user.name}}
</div>
<div>
    <strong>Email:</strong> {{user.email}}
</div>
<div>
    <strong>Phone:</strong> {{user.phone}}
</div>
<a href="/">Back to list</a>
