<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASM</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">
<h1>Đây là header</h1>

    {{{body}}}


<h1>Đây là footer</h1>
</div>
</body>
</html>